
<%= @game.player_1.name %> Vs <%= @game.player_2.name %>

<%= @game.player_1.name %>: <%= @game.player_1.hp %>HP
<%= @game.player_2.name %>: <%= @game.player_2.hp %>HP

<form action="/attack">
  <input type="submit" value="Attack">
</form>

<%= @game.current_player.name %>'s turn

